
$breakpoint-desktop:600px;
$text-color: white;
$bg-color:rgb(122, 115, 115);
$mobile-banner-img:url("/assets/images/600x600.png");
$desktop-banner-img:url("/assets/images/1920x650.png");

$card-width:400px;
